body{
	background-image: url("/images/bg.jpg");
	background-color: #1874cd;
}

.title {
	margin-top: 100px;
	color: white;
	border: 5px solid black;
	margin-left: 20%;
	margin-right: 20%;
	background-color: black;
	padding: 20px;
	border-radius: 25px;
}

.form-control{
	margin-left: 200px;
	margin-right: 200px;
}

#form{
	margin-top: 70px;
}

.options {
	margin-top: 10px;
}

.results {
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	display: none;
}
